<style type="text/css" media="screen">
  .trainerdex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
        gap: 3rem;
      }
      .card {
        min-width: 8rem;
        min-height: 12rem;
        background-color: #eff4f1;
        display: flex;
        color: #7c382c;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0.7rem;
        border-radius: 1rem;
        gap: 1rem;
        transition: all 0.3s ease 0s;
        transition: 0.3s;
      }
      .cards-container {
        padding: 2rem;
      }
      .trainer-name {
        align-self: center;
        margin-bottom: 0.4rem;
      }
      img {
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
      }
  .card:hover {
        box-shadow: rgb(229, 96, 73,0.30) 0px 3px 3px 3px;
        transform: translateY(-0.6rem);
      }
</style>
<div class="trainerdex-partial">
<section class="trainerdex-container">
  <section class="cards-container">
    <ul class="trainerdex-cards cards">
      <% for(let i=0;i<tdata.length;i++){%>
      <li class="trainerdex-item">
        <div class="card">
        <img src="images/<%=tdata[i].Tname %>.png" alt="">
        <span class="trainer-name"><%=tdata[i].Tname%></span>
        <span class="type"> Pokemon: <%=tdata[i].Pokemon%></span>
        <span class="gym">Gym: <%=tdata[i].TAge%> </span>
        <span class="badge">Badge: <%=tdata[i].TAge%> </span>
        <span class="attack">Age: <%=tdata[i].TAge%> </span>
        </div>
      </li>
      <%}%>
    </ul>
  </section>
</section>
</div>